.DS_Store


# data folder
./data
notebooks/.ipynb_checkpoints/*ipynb
*.code-workspace
data/*
*.pyc
__pycache__/
.vscode
src/data/*
venv
runs
checkpoint/*.pth
mnist_performance*/*
profile*
tests/unit/output/
summary.md
